<template>
  <l-map :zoom="zoom" :center="center">
    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
    <l-heatmap-layer :data="data" :options="options"></l-heatmap-layer>
  </l-map>
</template>

<script>
import L from 'leaflet'
import { LMap, LTileLayer } from 'vue2-leaflet'
import LHeatMapLayer from './HeatMapLayer'


export default {
  name: 'CrimeHeatMap',
  components: {
    LMap,
    LTileLayer,
    'l-heatmap-layer': LHeatMapLayer,
  },
  props: {
    center: {
      type: Object,
      default: () => (L.latLng(0, 0))
    },
    data: {
      type: Array,
      default: () => ([])
    },
    options: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      zoom: 10,
      url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }
  }
}
</script>

<style scoped>
</style>