<template>
  <div style="display: none;">
    <slot v-if="ready"></slot>
  </div>
</template>

<script>
import L from 'leaflet'
import 'leaflet.heat'
import { findRealParent } from 'vue2-leaflet'

const props = {
  data: {
    type: Array,
    default() {
      return [];
    }
  },
  options: {
    type: Object,
    default() { return {}; },
  },
};

export default {
  name: 'LHeatMapLayer',
  props,
  data() {
    return {
      ready: false
    }
  },
  watch: {
    data: function (newData) {
      this.mapObject.setLatLngs(newData);
    },
    options: function (newOptions) {
      this.mapObject.setOptions(newOptions);
    }
  },
  mounted() {
    this.mapObject = L.heatLayer(this.data, this.options);
    L.DomEvent.on(this.mapObject, this.$listeners);
    this.ready = true;
    this.parentContainer = findRealParent(this.$parent);
    this.parentContainer.addLayer(this);
  },
  beforeDestroy() {
    this.parentContainer.removeLayer(this);
  },
}
</script>

<style scoped>
</style>
