<template>
  <v-toolbar>
    <v-slider ref="slider" step=1 min=0 max=23 always-dirty thumb-label @change="onSliderChange" />
  </v-toolbar>
</template>

<script>
import moment from 'moment'

export default {
  name: 'HourSlider',
  data() {
    return {
      previous_value: null,
    }
  },
  mounted() {
    this.previous_value = this.$refs.slider.value;
  },
  methods: {
    onSliderChange: function(value) {
      // Vuetify slider sometimes emits more the same value multiple times.
      if (value !== this.previous_value) {
        this.$emit('change', moment(value, 'h'));
        this.previous_value = value;
      }
    }
  }
}
</script>

<style scoped>
</style>
