<template>
  <v-app>
    <v-toolbar app>
      <v-spacer></v-spacer>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout row wrap>
          <v-flex id="map" xs12>
            <CrimeHeatMap :center="center" :data="data" :options="options"/>
          </v-flex>
          <v-flex id="slider" xs12 justify-end>
            <HourSlider @change="update_map" />
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer app>
      <span>&nbsp;&copy;&nbsp;Inria Chile 2018</span>
    </v-footer>
  </v-app>
</template>

<script>
import HourSlider from './components/HourSlider'
import CrimeHeatMap from './components/CrimeHeatMap'
import L from 'leaflet'
import axios from 'axios'
import moment from 'moment'

const format_data = (data) => {
  let retval = [];
  for (let event of data) {
    retval.push(L.latLng(event.latitude, event.longitude));
  }
  return retval;
}

const get_data = (time) => {
  const time_str = time.format('hh:mm:ss')
  let url = `http://localhost:8000/api/crime-event/?start=${time_str}&end=${time_str}`;
  return axios
    .get(url)
    .then(response => format_data(response.data))
}

export default {
  name: 'App',
  components: {
    HourSlider,
    CrimeHeatMap,
  },
  data() {
    return {
      fixed: false,
      title: 'Crime-o-Matic',
      center: L.latLng(-23.6523055, -70.3925225),
      data: [],
      options: {}
    }
  },
  mounted() {
    this.update_map(moment('0', 'h'));
  },
  methods: {
    update_map: function(time) {
      get_data(time)
      .then(data => {
        this.data = data;
      });
    },
  }
}
</script>

<style scoped>
#map {
  height: 75%;
}
#slider {
  height: 10%;
}
</style>